# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/web"
CACHE_URL="redis://user:password@ip-address:6379/logical-number"

# Auth Info
BETTER_AUTH_SECRET=your_secret
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

# Social Providers
GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET
